* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

header, footer {
    background: #fff;
    padding: 15px;
    text-align: center;
    color: gray;
}

header {
    height: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px #ccc;
}
img {
    width: 250px;
    height: 150px;
    object-fit: contain;
}