body{
     margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
body{
    background-color:#d3d0d0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.login-container{
    width:400px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.login-box{
    background: red;
    width:380%;
    padding:35px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    text-align: center;
}
.login-box h2{
    color: #111fa1;
    margin-bottom: 8%;
}
